#accessorie-1{
    background-image: url(../img/accesorios/ganchillo.jpg);
}
#accessorie-2{
    background-image: url(../img/accesorios/agujas-punto.jpg);
}
#accessorie-3{
    background-image: url(../img/accesorios/agijas-metal.jpg);
}
#accessorie-4{
    background-image: url(../img/accesorios/bastidor.jpg);
}
#accessorie-5{
    background-image: url(../img/accesorios/telar.jpg);
}
#accessorie-6{
    background-image: url(../img/accesorios/tijeras-2.jpg);
}
#accessorie-7{
    background-image: url(../img/accesorios/tijeras-1.jpg);
}
#accessorie-8{
    background-image: url(../img/accesorios/cortador.jpg);
}
#accessorie-9{
    background-image: url(../img/accesorios/cinta-metrica2.jpg);
}